<h2><%= @user.username %></h2>

<ul>
<% @user.posts.each do |post| %>
  <li>
    <%= link_to post.title, post_by_user_path(post.user.username, post.id) %>
  </li>
<% end %>
</ul>

<% if current_user == @user %>
  <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'link dim dark-gray dib mr3' %>
<% end %>
