<div class="w-100 w-80-m w-70-l center mt4 tiledbg">
  <div class="pa0 pa2-ns pa4-m pa5-l">
    <div class="center bg-white pa2 pa3-l">
      <div class="w-100 bb b--silver mb3 cf">
        <h1 class="helvetica fw4 navy mb0 pr2 bb b--navy fl">Log In</h1>
      </div>

      <%= link_to omniauth_authorize_path(resource_name, "facebook") do %>
        <div class="cf w-90 w-80-l pl3 bg-blue br2 white mw6 mb3">
          <div class="fl"><p class="f2 pv0 mv2 mr2 mr3-l"><i class="fa fa-facebook-square" aria-hidden="true"></i></p></div>
          <div class="fl"><p class="f4 pv2 mv2 pr0">Sign in with Facebook</p></div>
        </div>
      <% end %>

      <div class="cf w-90 w-80-l pl3 bg-light-blue br2 white mw6 mb3">
        <div class="fl"><p class="f2 pv0 mv2 mr3"><i class="fa fa-twitter-square" aria-hidden="true"></i></p></div>
        <div class="fl"><p class="f4 pv2 mv2">Sign in with Twitter</p></div>
      </div>

      <div class="cf w-90 w-80-l pl3 bg-white ba br2 b--silver black-90 mw6">
        <div class="fl"><p class="f2 pv0 mv2 mr3"><i class="fa fa-google" aria-hidden="true"></i></p></div>
        <div class="fl"><p class="f4 pv2 mv2">Sign in with Google</p></div>
      </div>

      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        Or, <%= link_to "Sign up / Log In with Email", new_registration_path(resource_name), class: 'link dib blue hover-navy f6 fw6 mt3' %>
      <% end -%>
    </div>
  </div>
</div>
