<div class="w-70 center mt4 tiledbg">
  <div class="pa5">
    <div class="bg-navy cf">
      <div class="fl w-50 white pl3 mb4">
        <h1 class="fw1 white merriwether measure-narrow title50">From small beginnings come great things.</h1>
        <p class="f4 fw1 merriwether">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac bibendum eros - Nulla facilisi curabitur.</p>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'f6 br-pill bg-light-blue no-underline navy ba b--light-blue grow pv2 ph3 dib mr3' %>
        <a class="f6 br-pill light-blue no-underline ba grow pv2 ph3 dib"
          href="https://github.com/vivshaw/smol-v1">
          Learn More
        </a>
      </div>

      <div class="fl w-50">
        <%= image_tag("hand.png", class: "header-img") %>
      </div>
    </div>
  </div>
</div>

<div class="w-100 w-80-ns center pa2 pa0-ns">
  <div class="w-100 bb b--silver mb2 cf">
    <h1 class="helvetica fw4 navy mb0 pr2 bb b--navy fl">Recent Posts</h1>
  </div>

  <div class="grid">
    <% @posts.each do |post| %>
      <%= render partial: "shared/post", locals: {post: post, fullwidth: false} %>
    <% end %>
  </div>
</div>
